<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haihangyun.hcpaas.op.demo.dao.UsersDao" >
    <resultMap id="baseResultMap" type="com.haihangyun.hcpaas.op.demo.model.UsersVo" >
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="os_username" property="osUsername" jdbcType="VARCHAR" />
        <result column="os_password" property="osPassword" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="user_status" property="userStatus" jdbcType="VARCHAR" />
        <result column="user_type" property="userType" jdbcType="VARCHAR" />
        <result column="hna_account_id" property="hnaAccountId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="baseColumnList" >
        user_id, os_username, os_password, phone, email, username,
        description, create_time, update_time, user_status, user_type, hna_account_id
    </sql>

    <delete id="deleteById" parameterType="java.lang.Integer" >
        delete from users
        where user_id = #{userId,jdbcType=INTEGER}
    </delete>


    <select id="selectById" resultMap="baseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="baseColumnList" />
        from users
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="selectByPage" resultMap="baseResultMap" parameterType="java.util.Map" >
        select 
        <include refid="baseColumnList" />
        from users
        <where >
            <if test="osUsername != null and osUsername != ''" >
                and os_username = #{osUsername,jdbcType=VARCHAR}
            </if>
            <if test="osPassword != null and osPassword != ''" >
                and os_password = #{osPassword,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone != ''" >
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null and email != ''" >
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="username != null and username != ''" >
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="description != null and description != ''" >
                and description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null and createTime != ''" >
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null and updateTime != ''" >
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="userStatus != null and userStatus != ''" >
                and user_status = #{userStatus,jdbcType=VARCHAR}
            </if>
            <if test="userType != null and userType != ''" >
                and user_type = #{userType,jdbcType=VARCHAR}
            </if>
            <if test="hnaAccountId != null and hnaAccountId != ''" >
                and hna_account_id = #{hnaAccountId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectByUserName" resultMap="baseResultMap" parameterType="java.lang.String" >
        select
        <include refid="baseColumnList" />
        from users
        <where >
               username = #{username,jdbcType=VARCHAR}
        </where>
    </select>


</mapper>